* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:courier;
    user-select:none;
}

body {
    height:100vh;
    width:100vw;

    display:flex;
    justify-content:center;
    align-items:center;
}

#main-screen-container {
    position:relative;
    height:380px;/*384*/
    width:351px;/*512*/
/*     background-color:silver; */

    display:flex;
    justify-content:center;
}


#game-container {
    position:relative;
    height:380px;/*320*/
    width:190px;/*160*/
    
    background:url(imgs/background.png);
    background-size:contain;
    background-color:transparent;
    
    box-shadow: 4px 4px 10px 0px hsl(0 0% 50% / 1);
    overflow:hidden;
}

#game-over-screen {
    position:absolute;
    height:380px;/*320*/
    width:190px;/*160*/
    
    background:url(imgs/game-over.gif);
    background-size:contain;
    background-color:rgb(40 40 40 / 14%);
    
    display:none;
}

#HUD-container {
    position:relative;
    height:380px;
    width:161px;
    
    background-color:transparent;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hi-score, .score, .level, .life {
    font-size: large;
    font-weight: bolder;
    color:hsl(0 0% 85% / 1);
    text-shadow:2px 2px 2px hsl(0 0% 30% / 1);
}

.hi-score-nmbr, .score-nmbr, .level-nmbr, .life-nmbr {
    font-size: x-large;
    font-weight: bolder;
    color:#ffffff;
    text-shadow:0px 0px 2px  black;
}

.cannon {
    position:absolute;
    top:342px;
    left:57px;
    
    height:38px;
    width:57px;

    background:url(imgs/cannon.png) center no-repeat;
    background-size: contain;
}

.pixel {
    position:absolute;
    height:19px;
    width:19px;

    background:url(imgs/pixel.png) center no-repeat;
    background-size: contain;
}

